@import "~bootstrap/scss/bootstrap";
@import "custom";

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono-Regular.ttf');
}



@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

body {
  font-family: Roboto;
}

.lighter {
  color: $lighter;
}

.mono {
  font-family: Roboto Mono;
}

.title-color {
  color: rgb(204, 214, 246)
}

// hero
.full-vh {
  min-height: 100vh;
}

.project-desc {
  background-color: rgba($color: #fff, $alpha: 0.1);
  box-shadow: 0 2px 4px 0  $black;
}


// notable proects 
div.project-desc:hover { 
  top:-10px;
}

.project-image {
  max-width: 100%;
}

.technology li{
  font-family: Roboto Mono;
}

@media screen and (max-width:768px) {

}